<mat-list class="list">
  <mat-list-item
    *ngFor="let score of scores; let i = index"
    class="item"
    [ngClass]="{ active: score.name === 'Ljubica' }"
  >
    <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%">
      <div class="rank">{{ i + 1 | number }}.</div>
      <div class="avatar" *ngIf="score.image">
        <img mat-list-avatar [src]="score.image" />
      </div>
      <div class="avatar-init" *ngIf="!score.image">
        {{ score.name.substring(0, 2).toUpperCase() }}
      </div>
      <div fxFlex="auto">
        {{ score.name }}
      </div>
      <div class="count">{{ score.count | number }}</div>
      <mat-icon class="down" *ngIf="score.trend === 0">
        arrow_downward
      </mat-icon>
      <mat-icon class="up" *ngIf="score.trend === 1"> arrow_upward </mat-icon>
    </div>
  </mat-list-item>
</mat-list>
