<p>
  <mat-grid-list cols="3" rowHeight="2:1" gutterSize="10px">
    <mat-grid-tile><img src="../../assets/Tehnomanija.png" class="responsive"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/Gigatron.png" class="responsive"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/Intersport.png" class="responsive"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/Sportvision.png" class="responsive"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/Tehnomanija.png" class="responsive"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/Gigatron.png" class="responsive"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/Intersport.png" class="responsive"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/Sportvision.png" class="responsive"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/Tehnomanija.png" class="responsive"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/Gigatron.png" class="responsive"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/Intersport.png" class="responsive"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/Sportvision.png" class="responsive"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/Tehnomanija.png" class="responsive"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/Gigatron.png" class="responsive"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/Intersport.png" class="responsive"></mat-grid-tile>
  </mat-grid-list>
</p>
