<div style="padding: 5px">
  <mat-grid-list cols="4" rowHeight="2:3" gutterSize="10px">
    <mat-grid-tile *ngFor="let shop of shops">
      <mat-card fxFill fxLayout="column" fxLayoutAlign="start center">
        <mat-card-header fxFlex="10">
          <mat-card-title style="margin: 0px; font-size: 10px">{{
            shop.name
          }}</mat-card-title>
        </mat-card-header>
        <img
          style="width: 100%; height: auto"
          fxFlex="60"
          [src]="shop.image"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-actions fxFlex>
          <div
            fxFill
            fxLayout="row"
            fxLayoutAlign="start center"
            style="width: 100%"
          >
            <button mat-button (click)="onClick()">BUY</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
