<div fxFlexFill fxLayout="column">
  <div fxFlex="none">
    <mat-toolbar color="primary" fxLayout="row">
      <div fxFlex="auto" fxLayoutAlign="start">
        <a routerLink="/first" style="vertical-align: middle"
          ><img
            src="../assets/logo - Copy.png"
            alt="Bee Fit"
            class="round-image"
        /></a>
      </div>
      <div fxFlex="auto" fxLayoutAlign="center">
        <a routerLink="/shoppingSection">
          <img
            src="../assets/running.png"
            alt="My Steps:"
            style="height: 25px; width: 25px; vertical-align: middle;padding-right: 5px;"
          />
        </a>
        <span style="font-size: 23px; vertical-align: middle">{{
          steps | number
        }}</span>
      </div>
      <div fxFlex="auto" fxLayoutAlign="end">
        <img
          src="../assets/user 1 Ljubica.jpg"
          alt="Bee Fit"
          class="round-image"
        />
      </div>
    </mat-toolbar>
  </div>
  <div fxFlex="auto" class="content-wrap"><router-outlet></router-outlet></div>
  <div fxFlex="none">
    <nav
      mat-tab-nav-bar
      class="mat-tab-group-inverted-header"
      fxLayout="column"
    >
      <a
        fxFlex="auto"
        mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        <img [src]="link.img" [alt]="link.label" style="height: 25px" />
      </a>
    </nav>
  </div>
</div>
