<div fxFlexFill fxLayout="column">
  <div fxFlex="none">
    <mat-toolbar color="primary">
      <a routerLink="/shoppingSection" style="height: inherit"
        ><img src="../assets/logo.png" alt="Bee Fit" style="height: inherit"
      /></a>
    </mat-toolbar>
  </div>
  <div fxFlex="auto" class="content-wrap"><router-outlet></router-outlet></div>
  <div fxFlex="none">
    <nav
      mat-tab-nav-bar
      class="mat-tab-group-inverted-header"
      fxLayout="column"
    >
      <a
        fxFlex="auto"
        mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        <img [src]="link.img" [alt]="link.label" style="height: 25px" />
      </a>
    </nav>
  </div>
</div>
